/* Importação da fonte "Poppins" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importação das fontes "Orbitron" e "Poppins" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definição de variáveis globais */
:root {
    --cor1: #ffffff; /* Define a variável "cor1" como branco */
    --cor2: #000000; /* Define a variável "cor2" como preto */
    --cor3: #dcdcdc; /* Define a variável "cor3" como cinza claro */
}

/* Seletor Universal - Remove estilos padrão e define comportamento geral */
* {
    margin: 0; /* Remove todas as margens padrão */
    padding: 0; /* Remove todos os preenchimentos padrão */
    box-sizing: border-box; /* Faz com que a largura e altura incluam padding e borda */

    font-family: "Poppins", sans-serif; /* Define a fonte padrão como "Poppins" */
    font-weight: 100; /* Define o peso da fonte como 100 (mais fina) */
    font-style: normal; /* Define o estilo da fonte como normal */
}

/* Estilização do corpo da página */
body {
    background-color: var(--cor1); /* Define a cor de fundo do corpo como branco */
}

/* Estilização do cabeçalho */
header {
    display: flex; /* Usa Flexbox para organização dos elementos */
    flex-direction: row; /* Alinha os itens do cabeçalho em linha (horizontalmente) */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: space-around; /* Distribui os itens igualmente no espaço disponível */
}

/* Estilização da navegação dentro do cabeçalho */
#header-nav {
    display: flex; /* Usa Flexbox */
    flex-direction: row; /* Mantém os itens da navegação em linha */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-around; /* Distribui os itens uniformemente */
    gap: 40px; /* Adiciona um espaço de 40px entre os itens */
}

/* Estilização do logotipo dentro do cabeçalho */
header img {
    width: 300px; /* Define a largura da imagem do logotipo como 300px */
}

/* Estilização dos links de navegação */
.header-nav-a {
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza os itens */
    gap: 10px; /* Adiciona um espaçamento de 10px entre os ícones e o texto */
    color: var(--cor2); /* Define a cor do texto como preto */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: all 1s ease; /* Adiciona uma transição suave de 1s */
}

/* Efeito ao passar o mouse sobre os links de navegação */
.header-nav-a:hover {
    scale: 1.2; /* Aumenta o tamanho do elemento em 20% ao passar o mouse */
}

/* Estilização dos ícones da navegação */
.header-nav-a i {
    font-size: 40px; /* Define o tamanho dos ícones como 40px */
}

/* Estilização do texto dos links de navegação */
.header-nav-a span {
    font-size: 24px; /* Define o tamanho da fonte como 24px */
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
}

/* Estilização da seção de apresentação */
#apresentacao {
    display: flex; /* Usa Flexbox */
    flex-direction: row; /* Organiza os elementos horizontalmente */
    align-items: start; /* Alinha os elementos ao topo */
    justify-content: space-between; /* Distribui os itens uniformemente */
    margin-top: 60px; /* Adiciona um espaçamento superior de 60px */
    margin-left: 30px; /* Adiciona um espaçamento à esquerda de 30px */
    margin-right: 30px; /* Adiciona um espaçamento à direita de 30px */

    background-color: var(--cor2); /* Define o fundo da seção como preto */
    color: var(--cor1); /* Define a cor do texto como branco */
}

/* Estilização da imagem dentro da seção de apresentação */
#apresentacao img {
    width: 75%; /* Define a largura da imagem como 75% do container */
    filter: grayscale(100%); /* Deixa a imagem em preto e branco */
    transition: all 1s ease; /* Adiciona uma transição suave de 1s */
}

/* Efeito ao passar o mouse sobre a imagem */
#apresentacao img:hover {
    filter: grayscale(0%); /* Remove o efeito preto e branco */
}

/* Estilização do container de texto dentro da seção de apresentação */
#apresentacao div {
    width: 25%; /* Define a largura do bloco de texto como 25% do container */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza os itens */
    justify-content: space-between; /* Distribui os itens igualmente */
}

/* Estilização do título dentro da seção de apresentação */
#apresentacao div h2 {
    font-family: "Orbitron", sans-serif; /* Usa a fonte "Orbitron" */
    font-optical-sizing: auto; /* Ajusta automaticamente o tamanho ótico da fonte */
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
    font-style: normal; /* Define o estilo da fonte como normal */
    font-size: 50px; /* Define o tamanho da fonte como 50px */
    width: 100%; /* Define a largura como total */
    text-align: center; /* Centraliza o texto */
    margin: 10px 0 10px 0; /* Adiciona espaçamento superior e inferior */
}

/* Estilização do subtítulo dentro da seção de apresentação */
#apresentacao div h3 {
    width: 100%; /* Define a largura como total */
    text-align: center; /* Centraliza o texto */
    padding: 0 40px 30px 40px; /* Adiciona preenchimento interno nos lados e inferior */
    font-size: 20px; /* Define o tamanho da fonte como 20px */
    font-weight: 600; /* Define o peso da fonte como 600 (seminegrito) */
}

/* Estilização dos parágrafos dentro da seção de apresentação */
#apresentacao div p {
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
    margin: 0 10px 10px 20px; /* Adiciona espaçamento ao redor do parágrafo */
}

/* Estilização do botão dentro da seção de apresentação */
#apresentacao div button {
    margin: 15px; /* Define as margens do botão */
    width: 70%; /* Define a largura do botão como 70% do container */
    height: 50px; /* Define a altura do botão como 50px */
    background-color: var(--cor1); /* Define a cor de fundo como branco */
    color: var(--cor2); /* Define a cor do texto como preto */
    font-size: 20px; /* Define o tamanho da fonte como 20px */
    font-weight: 600; /* Define o peso da fonte como 600 (seminegrito) */
    border: 2px solid var(--cor1); /* Adiciona uma borda branca de 2px */
    border-radius: 10px; /* Arredonda as bordas do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: all 1s ease; /* Adiciona uma transição suave */
}

/* Efeito ao passar o mouse sobre o botão */
#apresentacao div button:hover {
    background-color: var(--cor2); /* Altera o fundo para preto */
    color: var(--cor1); /* Altera a cor do texto para branco */
}

/* Estilização da seção de serviços */
#servicos {
    margin-top: 30px; /* Adiciona espaçamento superior de 30px */
    margin-bottom: 30px; /* Adiciona espaçamento inferior de 30px */
    padding: 10px; /* Adiciona preenchimento de 10px */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
}

/* Estilização do título da seção de serviços */
#servicos h2 {
    text-shadow: 3px 3px 3px var(--cor3); /* Adiciona uma sombra ao texto */
    text-align: center; /* Centraliza o texto */
    font-size: 60px; /* Define o tamanho da fonte como 60px */
    font-weight: 800; /* Define o peso da fonte como 800 (negrito) */
}

/* Estilização do contêiner dos cards */
#cards {
    margin-top: 20px; /* Adiciona espaçamento superior de 20px */
    display: flex; /* Usa Flexbox */
    flex-direction: row; /* Organiza os elementos horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-around; /* Distribui os itens igualmente */
}

/* Estilização dos cards */
.card {
    width: 20%; /* Define a largura do card como 20% do container */
    border: 2px solid var(--cor2); /* Adiciona uma borda preta de 2px */
    border-radius: 10px; /* Arredonda as bordas do card */
    box-shadow: 5px 5px 5px var(--cor3); /* Adiciona uma sombra ao card */

    padding: 10px; /* Adiciona preenchimento interno de 10px */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza os itens */
    justify-content: space-between; /* Distribui os itens igualmente */
    background-color: var(--cor2); /* Define o fundo do card como preto */
    color: var(--cor1); /* Define a cor do texto como branco */
    transition: all 1s ease; /* Adiciona uma transição suave */
}

/* Efeito ao passar o mouse sobre os cards */
.card:hover {
    background-color: var(--cor1); /* Altera o fundo do card para branco */
    color: var(--cor2); /* Altera a cor do texto para preto */
    transform: translateY(-20px); /* Move o card para cima */
}

/* Estilização da imagem dentro do card */
.card img {
    width: 100%; /* Define a largura da imagem como 100% do container */
}

/* Estilização do título dentro do card */
.card h3 {
    margin-top: 20px; /* Adiciona margem superior de 20px */
    font-weight: 700; /* Define o peso da fonte como 700 (negrito) */
}

/* Estilização do parágrafo dentro do card */
.card p {
    margin-top: 20px; /* Adiciona margem superior de 20px */
    font-weight: 500; /* Define o peso da fonte como 500 (seminegrito) */
    height: 200px; /* Define a altura do parágrafo como 200px */
}

/* Estilização do botão dentro do card */
.card button {
    margin-top: 30px; /* Adiciona margem superior de 30px */
    margin-bottom: 30px; /* Adiciona margem inferior de 30px */
    border: 1px solid var(--cor1); /* Adiciona uma borda branca de 1px */
    border-radius: 5px; /* Arredonda as bordas do botão */
    background-color: var(--cor2); /* Define o fundo do botão como preto */
    color: var(--cor1); /* Define a cor do texto como branco */
    width: 60%; /* Define a largura do botão como 60% do container */
    height: 50px; /* Define a altura do botão como 50px */
    font-weight: 600; /* Define o peso da fonte como 600 (seminegrito) */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */

/* EstilizaÃ§Ã£o da seÃ§Ã£o "Quem somos" */
#quemsomos {
  color: var(--cor2); /* Define a cor do texto como preto */
  display: flex; /* Usa Flexbox */
  flex-direction: column; /* Organiza os elementos verticalmente */
  padding-left: 50px; /* Adiciona preenchimento Ã  esquerda de 50px */
}

/* EstilizaÃ§Ã£o do tÃ­tulo da seÃ§Ã£o "Quem somos" */
#quemsomos h2 {
  text-align: center; /* Centraliza o texto */
  margin: 40px 0 40px 0; /* Adiciona margens superior e inferior de 40px */
  font-size: 80px; /* Define o tamanho da fonte como 80px */
  font-weight: 800; /* Define o peso da fonte como 800 (negrito) */
  text-shadow: 2px 2px 2px var(--cor3); /* Adiciona uma sombra ao texto */
}

/* EstilizaÃ§Ã£o do contÃªiner dos profissionais */
#listadeprofissionais {
  display: flex; /* Usa Flexbox para organizar os itens */
  flex-direction: row; /* Organiza os itens na linha (horizontalmente) */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; /* Centraliza os itens dentro do contÃªiner */
  gap: 100px; /* Adiciona um espaÃ§amento de 100px entre os itens */
  margin-bottom: 100px; /* Adiciona uma margem inferior de 100px */
}

/* EstilizaÃ§Ã£o dos links dentro da lista de profissionais */
#listadeprofissionais a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: var(--cor2); /* Define a cor do texto como preto (variÃ¡vel) */
  display: flex; /* Usa Flexbox para organizar os itens dentro do link */
  flex-direction: column; /* Organiza os itens verticalmente dentro do link */
  align-items: center; /* Centraliza os itens dentro do link */
  justify-content: center; /* Alinha os itens ao centro verticalmente */
  gap: 5px; /* Adiciona um espaÃ§amento de 5px entre os itens dentro do link */
  cursor: pointer; /* Muda o cursor para pointer quando passa sobre o link */
  filter: grayscale(100%); /* Deixa a imagem do link em preto e branco */
  border-bottom: 1px solid transparent; /* Adiciona uma borda inferior transparente */
  transition: all 1s ease; /* Adiciona uma transiÃ§Ã£o suave de 1s para todos os efeitos */
}

/* Efeito ao passar o mouse sobre os links dentro da lista de profissionais */
#listadeprofissionais a:hover {
  scale: 1.3; /* Aumenta o tamanho do link em 30% ao passar o mouse */
  transform: translateY(-20px); /* Move o link 20px para cima */
  filter: grayscale(0%); /* Remove o efeito preto e branco da imagem */
  border-bottom: 1px solid var(--cor2); /* Adiciona uma borda inferior preta (variÃ¡vel) */
}

/* EstilizaÃ§Ã£o das imagens dentro dos links de profissionais */
#listadeprofissionais a img {
  width: 150px; /* Define a largura da imagem como 150px */
  border-radius: 50%; /* Torna a imagem redonda */
  border: 2px solid var(--cor2); /* Adiciona uma borda de 2px de cor preta ao redor da imagem */
}

/* EstilizaÃ§Ã£o do texto dentro dos links de profissionais */
#listadeprofissionais a p {
  font-weight: 400; /* Define o peso da fonte como 400 (regular) */
}



/* EstilizaÃ§Ã£o dos profissionais dentro da seÃ§Ã£o "Quem somos" */
.profissionais {
  display: flex; /* Usa Flexbox */
  flex-direction: row; /* Organiza os itens horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza os itens */
  gap: 80px; /* Adiciona um espaÃ§o de 80px entre os itens */
  margin-bottom: 100px; /* Adiciona margem inferior de 100px */
}


/* EstilizaÃ§Ã£o do profissional */
.profissional {
  position: relative; /* Essencial para posicionar filhos com position: absolute */
  display: flex; /* Usa Flexbox */
  flex-direction: column; /* Organiza os elementos verticalmente */
  width: 35%; /* Define a largura do profissional como 35% do container */
  border-radius: 0 0 0 30px; /* Arredonda a parte inferior esquerda do profissional */
  box-shadow: 5px 5px 5px var(--cor3); /* Adiciona uma sombra ao profissional */
  height: 700px; /* Define a altura do profissional como 700px */
  border: 1px solid var(--cor2); /* Adiciona uma borda preta de 1px */
  transition: all 1s ease; /* Adiciona uma transiÃ§Ã£o suave */
}

/* Efeito ao passar o mouse sobre o profissional */
.profissional:hover {
  background-color: var(--cor2); /* Altera o fundo para preto */
  color: var(--cor1); /* Altera a cor do texto para branco */
}

/* EstilizaÃ§Ã£o da imagem dentro do profissional */
.profissional img {
  width: 100%; /* Define a largura da imagem como 100% do container */
  margin-bottom: 20px; /* Adiciona margem inferior de 20px */
  filter: grayscale(100%); /* Deixa a imagem em preto e branco */
}

/* Efeito ao passar o mouse sobre a imagem do profissional */
.profissional img:hover {
  filter: grayscale(50%); /* Deixa a imagem em 50% preto e branco */
}

/* EstilizaÃ§Ã£o do texto dentro do profissional */
.profissional-texto {
  padding-left: 50px; /* Adiciona preenchimento Ã  esquerda de 50px */
}

/* EstilizaÃ§Ã£o do nome dentro do profissional */
.profissional-texto h3 {
  font-size: 40px; /* Define o tamanho da fonte como 40px */
  font-weight: 600; /* Define o peso da fonte como 600 (seminegrito) */
  height: 60px; /* Define a altura do nome como 60px */
}

/* EstilizaÃ§Ã£o do cargo dentro do profissional */
.profissional-texto h4 {
  font-size: 30px; /* Define o tamanho da fonte como 30px */
  font-weight: 400; /* Define o peso da fonte como 400 (regular) */
  font-style: italic; /* Define o estilo da fonte como itÃ¡lico */
  height: 60px; /* Define a altura do cargo como 60px */
}

/* EstilizaÃ§Ã£o da descriÃ§Ã£o dentro do profissional */
.profissional-texto p {
  font-size: 20px; /* Define o tamanho da fonte como 20px */
  font-weight: 300; /* Define o peso da fonte como 300 (mais fino) */
  height: 100px; /* Define a altura da descriÃ§Ã£o como 100px */
  padding-right: 30px; /* Adiciona preenchimento Ã  direita de 30px */
}

/* EstilizaÃ§Ã£o da avaliaÃ§Ã£o do profissional */
.avaliacao-profissional {
  position: absolute; /* Posicionamento absoluto dentro da .profissional */
  top: 0px; /* DistÃ¢ncia do topo */
  left: 0px; /* DistÃ¢ncia da esquerda */
  width: 100px; /* Largura fixa de 100px */
  height: 100px; /* Altura fixa de 100px */
  background-color: var(--cor1); /* Cor de fundo branca */
  border: 3px solid var(--cor2); /* Borda preta de 3px */
  color: var(--cor2); /* Cor do texto preta */
  border-radius: 50%; /* Forma circular */
  display: flex; /* Usa Flexbox */
  flex-direction: column; /* Organiza os elementos verticalmente */
  align-items: center; /* Centraliza os itens */
  justify-content: center; /* Centraliza o conteÃºdo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  z-index: 2; /* Garante que fique sobre a imagem */
  transform: translateX(-50px) translateY(-50px); /* Ajuste da posiÃ§Ã£o */
  transition: 1s all ease; /* Adiciona uma transiÃ§Ã£o suave */
}

/* Efeito ao passar o mouse sobre a avaliaÃ§Ã£o */
.avaliacao-profissional:hover {
  background-color: var(--cor2); /* Altera o fundo para preto */
  color: var(--cor1); /* Altera a cor do texto para branco */
}

/* EstilizaÃ§Ã£o do texto dentro da avaliaÃ§Ã£o */
.avaliacao-profissional-texto1 {
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  font-weight: 400; /* Define o peso da fonte como 400 (regular) */
}

/* EstilizaÃ§Ã£o da nota dentro da avaliaÃ§Ã£o */
.avaliacao-profissional-texto2 {
  font-size: 36px; /* Define o tamanho da fonte como 36px */
  font-weight: 800; /* Define o peso da fonte como 800 (negrito) */
}

/* EstilizaÃ§Ã£o do botÃ£o do WhatsApp */
#whatsapp {
  position: fixed; /* Posicionamento fixo na tela */
  top: 85%; /* DistÃ¢ncia do topo */
  left: 92%; /* DistÃ¢ncia da esquerda */
  width: 120px; /* Largura do botÃ£o */
  height: 120px; /* Altura do botÃ£o */
  background-color: var(--cor1); /* Cor de fundo branca */
  border: 5px solid var(--cor2); /* Borda preta de 5px */
  color: var(--cor1); /* Cor do texto branca */
  border-radius: 50%; /* Forma circular */
  display: flex; /* Usa Flexbox */
  align-items: center; /* Centraliza os itens */
  justify-content: center; /* Centraliza o conteÃºdo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  z-index: 2; /* Garante que fique sobre a imagem */
  cursor: pointer; /* Muda o cursor ao passar sobre o botÃ£o */
}

/* EstilizaÃ§Ã£o do link dentro do botÃ£o do WhatsApp */
#whatsapp a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: var(--cor2); /* Define a cor do texto preto */
  font-size: 60px; /* Define o tamanho da fonte como 60px */
}
